
.app_main{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main_content {
  display: flex;
}

.error-message{
  color: red;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

