.fileView{
    width: 100%;
    margin-right: 175px;
}

.fileView_row{
    height: 250px;
    display: flex;
    align-items: center;
}

.fileView_titles{
    display: flex;
    margin-bottom: 5px;
    color: rgb(85, 78, 78);
}

.fileView_titles>div>*{
    margin: 5px;
}

.fileView_title_left{
    flex: 1;
}

.fileView_title_right{
    display: flex;
    margin-right: 100px;
}
.fileItem{
    height: 55px;
    border-bottom: 1px solid rgb(219, 219, 219);
    border-top: 1px solid rgb(219, 219, 219);
    width: 100%;
}

.fileItem>a{
    height: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(85, 78, 78);
}

.fileItem>a>div{
    display: flex;
    align-items: center;
}

.fileItem>a>div>*{
    margin: 10px;
}

.fileItem--left{
    flex: 1;
}

.fileItem--right{
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.fileCard {
    height: 190px;
    width: 240px;
    border-radius: 10px;
    border: 1px solid rgb(219, 219, 219);
    margin: 5px;
}

.fileCard--top {
    height: 70%;
    border-bottom: 1px solid rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileCard--bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}

.fileCard--bottom>p {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
}

.fileCard:hover {
    background-color: #ccc;
    cursor: pointer;
  }

.fileItem:hover{
     background-color: #ccc;
}

