.sidebar{
    width:15%;
    height:18vh;
    margin-right: 15px;
}

br{
    background-color: rgb(197,197,197);
}
.upload {
    display: flex;
    align-items: center;
    padding: 12px 0;
    padding-left: 20px;
}

.upload__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 32px 1px 8px;
    border-radius: 50px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    cursor: pointer;
}

.upload__container>p{
    margin-left: 14px;
}

.upload__container:hover{
  background-color: #ccc;
  cursor: pointer;
}

.upload__container:active {
  background-color: #c8e4fc;
}




.loading-spinner {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3182ce;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .side-button-container {
    width: 50px;
  }
  